<!DOCTYPE html>
<html lang="en">

<head>
  <%- include ("../partials/head") %>
</head>

<body>
  <%- include('../partials/nav', { active: 'profil' }) %>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xs-12 col-sm-8">
        <h1 class="hft-sb-title display-5">Titel</h1>
      </div>
    </div>
  </div>

</body>


</html>