<!DOCTYPE html>
<html lang="en">

<head>
  <%- include ("../partials/head") %>
  <script src="./../public/login.js"></script>
</head>

<body class="all">
  <%- include('../partials/nav', { active: 'index' }) %>
    <div class="row">
        <table class="table">
            <tr>
                <td>
                    <p>Test</p>
                </td>
                <td class="table-data-right">
                    <p>Test</p>
                </td>
                <td>
                    <p>Test</p>
                </td>
            </tr>
        </table>
    </div>
</body>

</html>